@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-badeen), sans-serif;
  font-weight: 400;        /* ← important */
  letter-spacing: 0;       /* avoid tracking-tight for this font */
}
:root{
  --bg1: 255 247 237;   /* bg-amber-50 */
  --bg2: 236 254 255;   /* bg-cyan-50 */
  --bg3: 240 249 255;   /* bg-sky-50 */
}

.dark:root{
  --bg1: 24 24 27;      /* zinc-900 */
  --bg2: 9 9 11;        /* zinc-950 */
  --bg3: 39 39 42;      /* zinc-800 */
}

